<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">{{ 'yorkspace.home.welcome' | translate}}</h1>
          <p class="lead">{{ 'yorkspace.home.news' | translate}}</p>
          <p class="lead">{{ 'yorkspace.home.learn-about-yorkspace-visit' | translate}} <a href="{{ 'yorkspace.home.yorkspace-resource-site-link' | translate}}">{{ 'yorkspace.home.yorkspace-resource-site' | translate}}</a></p>
        </div>

      </div>
    </div>
  </div>
  
</div>

