<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Welcome to YorkSpace</h1>
          <p class="lead">YorkSpace is York University's Institutional Repository. It is a platform that enables York community members to organize and preserve their research online in an institutional context. It showcases the scholarship of the York University community through the use of a special standards-based software platform that collects usage statistics and provides exceptional visibility on the web.</p>
          <p class="lead">To learn more about YorkSpace, visit the <a href="https://researchguides.library.yorku.ca/yorkspace">YorkSpace Resource Site</a></p>
        </div>

      </div>
    </div>
  </div>
  
</div>

