// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 40px;
  --ds-banner-text-background: rgba(0, 0, 0, 0.45);
  --ds-banner-background-gradient-width: 300px;
  --ds-home-news-link-color: #{$link-color};
  --ds-home-news-link-hover-color: #{$link-hover-color};
  --ds-header-navbar-border-bottom-color: #{$red};
  --ds-navbar-link-color: #{$link-color};
  --ds-navbar-link-color-hover: #{$link-hover-color};
  --ds-breadcrumb-bg: #{$dark} !important;
  --ds-breadcrumb-link-color: #{$white};
  --ds-breadcrumb-link-active-color: #{$white};
}
